:root{
    --textcol:white;
    --textfont:"Netflix sans",sans-serif;
    --bradius:4px;
    --sepbor:8px solid rgb(38, 38, 38);
    --borcol:rgba(148, 148, 148, 0.6)
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("Assets/Images/bg.jpeg");
    height: 86vh;
    background-size: max(1449px, 100vw);
    background-position: center center;
    position: relative;
    border-bottom: var(--sepbor);
    background-repeat: no-repeat;
    z-index: 10;
}

.main .box{
    height: 86vh;
    width: 100%;
    opacity: 0.66;
    position: absolute;
    top: 0px;
    background-color: black;
    z-index: -10;
}
.flex-box{
    margin: 0 auto;
    width: 77vw;
    padding: 25px;
    display: flex;
    justify-content:space-between;
}
.buttonr:hover{
    background-color: rgb(208, 4, 4);
}
.button{
    font-family: var(--textfont);
    color: var(--textcol);
    border-radius: var(--bradius);
    cursor: pointer;
}
.sign{
    background-color: red;
    border: none;
    padding: 7px 15px;
    margin-left: 15px;
}
.langbut{
    background-color: rgba(0, 0, 0, 0.2);
    border:0.1px solid gray;
    padding: 6px 25px;
    position: relative;
    top:1px;
    border-radius: var(--bradius);
}
.sub{
    text-align: center;
    margin-top: 120px;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textcol);
    flex-direction: column;
    font-family: var(--textfont);
}
.sub>:nth-child(1){
    font-size: 24px;
    font-weight: 1500;
}
.sub>:nth-child(2){
    font-weight: 300;
    padding: 18px;
    font-size: 25px;
}
.sub>:nth-child(3){
    font-size: 20px;
    font-weight: 350;
}
.email{
    height: 50px;
    width: 325px;
    padding:1px 0 1px 20px;
    font-size: 17px;
    color: white;
    border: none;
    background-color:rgba(23,23,23,0.6) ;
    border:1px solid rgba(148, 148, 148, 0.6);
    border-radius: var(--bradius);
}
.details{
    display: flex;
    padding: 20px 0 0 0 ;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.gsb{
    background-color: red;
    border: none;
    padding: 12px 45px;
    font-size: 24px;
}
.first,.second,.third,.fourth{
    margin:60px auto;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.heading{
    font-size: 50px;
    font-weight: bold;
    color: var(--textcol);
}
.desc{
    color: var(--textcol);
    font-family: var(--textfont);
    padding: 15px 0;
    font-size: 27px;
    font-weight: 300;
}
.tv{
    position: relative;
}
.tvvid{
    position: absolute;
    right: 71px;
    width: 407px;
    height: 398px;
    z-index: -10;
}
.separator{
    margin-top: 75px;
    height:8px;
    background-color:rgb(38, 38, 38);
}
.phone{
    position: relative;
}
.downloadbox{
    padding:10px 8px;
    background-color:black;
    position: absolute;
    position: absolute;
    width: 325px;
    bottom: 40px;
    left: 130px;
    border: 1px solid var(--borcol);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.downimage img{
    width: 65px;
}
.downtxt{
    color: var(--textcol);
    font-family: var(--textfont);
}
.downtxt>:nth-child(2){
    color: blue;
    font-weight: 300;
}
.compimg{
    width:530px;
    position: relative;
    z-index: 10;
}
.compvid{
    position: absolute;
    right: 236px;
    width: 352px;
    height: 290px;
}
.kidsimg{
    width: 540px;
}
.faq>:nth-child(1){
    text-align: center;
    padding: 50px 0 10px 0;
}
.faqtxt{
    font-family: var(--textfont);
    color: var(--textcol);
    font-size: 25px;
    font-weight: 300;
}
.faqbox{
    box-sizing: border-box;
    width: 80vw;
    margin: 10px auto;
    padding: 20px 30px;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ready{
    color: var(--textcol);
    padding: 50px 0 10px 0;
    font-family: var(--textfont);
    text-align: center;
    font-weight: 300;
    font-size: 21px;
}